<% provide(:title, t("static_page.about.title")) %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %><%= t("layouts.application.title")%></title>
  </head>
  <body>
    <h1><%= t("static_page.about.about")%></h1>
    <p>
      <h1><%= t("static_page.about.the")%></h1><a href="http://www.railstutorial.org/"><em><h1><%= t("static_page.about.ruby")%></h1></em></a><h1><%= t("static_page.about.is")%></h1>
      <a href="http://www.railstutorial.org/book"><h1><%= t("static_page.about.book")%></h1></a>
      <a href="http://screencasts.railstutorial.org/"><h1><%= t("static_page.about.app")%></h1></a>
      <h1><%= t("static_page.about.to")%></h1>
      <a href="http://rubyonrails.org/"><h1><%= t("static_page.about.rails")%></h1></a>
      <h1><%= t("static_page.about.this")%></h1>
    </p>
  </body>
</html>
