<% provide(:title, t("static_page.help.title") )%>
<h1> <%= t "static_page.help.help" %> </h1>
<p> <%= t "static_page.help.get" %> <%= t "static_page.help.link" %>.<%= t "static_page.help.to" %> <em> <%= link_to t("static_page.help.ruby"), "http://www.railstutorial.org/book" %> </em>
</p>
