<% provide(:title, t("static_page.help.title")) %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %><%= t("layouts.application.title")%></title>
  </head>
  <body>
    <h1><%= t("static_page.help.help")%></h1>
    <p>
      <%= t("static_page.help.get")%>
      <a href="http://www.railstutorial.org/help"><%= t("static_page.help.rails")%></a>.
      <%= t("static_page.help.to")%>
      <a href="http://www.railstutorial.org/book"><em><%= t("static_page.help.ruby")%></em> <%= t("static_page.help.book")%></a>.
    </p>
  </body>
</html>
